<p-dialog header="Modifier offre" [(visible)]="displayEditModal" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false"  (onHide)="closeModal()"> 
    <form [formGroup]="offreForm"  class="offre-form">
      
      <div class="field">
        <label class="block" for="title">Titre *</label>
        <input type="text" pInputText id="titre" formControlName="titre" required />
      </div> 
      
      <div class="field">
        <label class="block" for="description">Description *</label>
        <input type="text" pInputText id="description" formControlName="description" />
      </div> 
  
      <div class="field">
        <label class="block">Détail</label>
        <textarea pInputTextarea formControlName="detail"></textarea>
      </div>
  
      <div class="field">
        <label class="block" for="salaire">Salaire *</label>
        <p-inputNumber placeholder="Salaire" id="salaire" formControlName="salaire" class="block"></p-inputNumber>
      </div>  
      
    </form>
  
      <ng-template pTemplate="footer">
        <p-button (click)="closeModal()" label="Annuler" styleClass="p-button-text"></p-button>
        <p-button type="submit" (click)="editOffre()" label="Modifier"></p-button>
      </ng-template>
  </p-dialog>
   
